<router-outlet></router-outlet>
<footer id="footer">
    <div class="wrap-std">
        <ul class="social clearfix">
            <li><a target="_blank" href="https://www.facebook.com/1WSFoundation/"><img src="assets/img/icon-facebook.svg"
                                                                                       alt="Facebook"></a></li>
            <li><a target="_blank" href="https://twitter.com/1worldstronger"><img src="assets/img/icon-twitter.svg" alt="Twitter"></a></li>
            <li><a target="_blank" href="http://www.instagram.com/1wsfoundation"><img src="assets/img/icon-instagram.svg"
                                                                                      alt="Instagram"></a></li>
        </ul>
        <div class="columns clearfix">
            <div class="column column-1">
                <h4><a target="_blank" href="https://www.oneworldstrong.org/home">About</a></h4>
                <ul>
                    <li><a target="_blank" href="https://www.oneworldstrong.org/copy-of-who-we-are-1">Mission</a></li>
                    <li><a target="_blank" href="https://www.oneworldstrong.org/copy-of-our-mission">Our story</a></li>
                    <li><a target="_blank" href="https://www.oneworldstrong.org/copy-of-our-mission">Board</a></li>
                    <li><a target="_blank" href="https://www.oneworldstrong.org/copy-of-who-we-are">What we do</a></li>
                    <li><a target="_blank" href="https://www.oneworldstrong.org/copy-of-what-we-do-1">How we do it</a></li>
                </ul>
            </div>
            <div class="column column-2">
                <h4><a target="_blank" href="https://www.oneworldstrong.org/copy-of-what-we-do">Impact</a></h4>
                <ul>
                    <li><a target="_blank" href="https://www.oneworldstrong.org/copy-of-our-impact-1">In the US</a></li>
                    <li><a target="_blank" href="https://www.oneworldstrong.org/copy-of-our-work-in-orlando">Abroad</a></li>
                </ul>
            </div>
            <div class="column column-3">
                <h4><a target="_blank" href="https://www.oneworldstrong.org/copy-of-our-impact">Help us</a></h4>
            </div>
            <div class="column column-4">
                <h4><a target="_blank" href="https://www.oneworldstrong.org/gallery">Gallery</a></h4>
            </div>
            <div class="column column-5">
                <h4><a target="_blank" href="https://www.oneworldstrong.org/contact">Contact us</a></h4>
            </div>
        </div>
        <div class="copyright">
            © 2019 - One World Strong Foundation
        </div>
    </div>
</footer>