<div class="std-content">
  <h2>Thank you for your pledge {{profile.displayName}}</h2>

  <p>Now that we have your contact details, we'll send you regular updates on the event progress, leading up to the
    dates in April.</p>

  <p>In the meantime, we'd ask you to contribute your stories via Facebook, Twitter and Instagram, before, during and
    after the event using the hash tag <strong>#OWM2019</strong></p>

  <p>Thanks again</p>

  <p>All at One World Strong</p>

  <button (click)="signOut()" class="btn btn-orange">Sign Out</button>
</div>