<ng-container *ngIf="signInWithEmailLinkSentTo != null && signInWithEmailLinkSentTo.length; then signInLinkSent; else signInButtons"></ng-container>
<ng-template #signInLinkSent>
  <p>We sent a sign in link to your email {{signInWithEmailLinkSentTo}}</p>
</ng-template>
<ng-template #signInButtons>

  <div class="std-content">
    <p>There’s two ways to sign up, one is to sign in using Google or Facebook, which means the form below will be
      filled in automatically, or you can do it the old fashioned way, and just type your details in by hand.</p>
  </div>
  <div class="buttons clearfix">
    <a href="javascript:void" class="btn-oauth btn-oauth-google" (click)="signInWithGoogle()">Sign in using Google</a>
    <!--<a href="javascript:void" class="btn-oauth btn-oauth-facebook" (click)="signInWithFacebook()">Sign in using
      Facebook</a>-->
  </div>

  <div class="std-content">
    <p class="use-email">...or sign in with an email below</p>
  </div>

  <form *ngIf="emailSignInForm" [formGroup]="emailSignInForm" (ngSubmit)="signInWithEmail()">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="text text-medium" autocomplete="email" formControlName="email" />
      <span class="error" *ngIf="emailSignInForm.get('email').invalid && emailSignInForm.get('email').touched">Please
        enter a valid email</span>
    </div>
    <button type="submit" class="btn">Sign In With Email</button>
  </form>

  <div class="std-content">
    <p>By signing up you are agreeing to our <a href="/terms">terms & conditions</a> and <a href="/privacy">privacy policy</a>.</p>
  </div>
</ng-template>